<a href="https://colab.research.google.com/github/sandipanpaul21/ML-Code-in-Python/blob/master/02_Univariate_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Uni Means ONE. So Univariate Analysis is One Variable Analysis
# Mainly in this part, we will deal with Numerical Measures. So in total we have 13 Numerical Measures

# 1. Mean
  # Measure of Central Tendency
  # (Sum of data values)/(Data Count) 
  # AFFECTED BY OUTLIERS

# 2. Median
  # Also a Measure of Central Tendency
  # It is the observation/value at the middle when the data is sorted in ascending order
  # MIGHT OR MIGHT NOT AFFECT BY OUTLIERS

# 3. Mode
  # Most frequently observed variable in the column

# 4. Quartile
  # First Data is sorted in Ascending Order
  # First Quartile = Lower Quartile = 25% of the data
  # Second Quartile = Median = 50% of the data
  # Third Quartile = Upper Quartile = 75% of the data

# 5. Percentile
  # Nth percentile of an observation variable is the value that cuts off the first n percent of the data 
  # values when it is sorted in ascending order

# 6. Range
  # Measures how far apart the entire data spread is in terms of values 
  # Range = (Largest Value - Smallest Value)
  # AFFECTED BY OUTLIERS

# 7. Inter Quartile Range
  # IQR = (Upper Quartile - Lower Quartile) = (75% of Data - 25% of Data)

# 8. Box Plot
  # Graphical representation of three quantiles, smallest and largest value

# 9. Standard Deviation
  # Square root of the Variance

# 10. Variance
  # Numerical Measure of how the data value is dispersed around the mean
  # AFFECTED BY OUTLIERS

# 11. Covariance
  # To check linearity between two variables. It can be +ve or -ve

# 12. Correlation Coefficient
  # Strength of relationship betweeb two variables
  # Pearson Correlation Coefficient - Works on linear relationship
  # Spearman Correlation Coefficient - Works on both linear & non linear relationship

# 13. Skewness
  # Spreadness of the Distribution

# 14. Kurtosis
  # Peakness of the Distribution

In [2]:
# Libraries 
from sklearn import datasets
import pandas as pd

In [3]:
# Load the Datasets (For indepth analysis please refer to Part O1 All About Datasets)

# Iris Dataset for Classification
# Load Dataset
iris = datasets.load_iris()
# Convert to DataFrame
iris_pd = pd.DataFrame(iris.data)
# Feature Name
iris_pd.columns = iris.feature_names
# Target Variable
iris_pd["Class"] = iris.target
# iris_pd is the final dataset

# Boston Dataset for Regression
boston = datasets.load_boston()
boston_pd = pd.DataFrame(boston.data)
boston_pd.columns = boston.feature_names
boston_pd["MEDV"] = boston.target

In [4]:
# 1) MEAN
# Column Wise Mean, axis = 0
# Row Wise Mean, axis = 1

# By default, axis = 0
iris_pd.mean()
# Inference, first column "sepal length (cm)" mean is 5.8, second column "sepal length (cm)" mean is 3.05

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
Class                1.000000
dtype: float64

In [5]:
# if we mention also axis = 0, it will give same output
iris_pd.mean(axis = 0)

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
Class                1.000000
dtype: float64

In [6]:
# If we want to see row wise Mean i.e, total rows in IRIS dataset is 150 (0 - 149)
iris_pd.mean(axis = 1)

0      2.04
1      1.90
2      1.88
3      1.88
4      2.04
       ...
145    3.84
146    3.54
147    3.74
148    3.86
149    3.56
Length: 150, dtype: float64

In [7]:
# Other way to write is 
print("MEAN of IRIS Dataset are as follow \n",iris_pd.mean())

MEAN of IRIS Dataset are as follow
 sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
Class                1.000000
dtype: float64

In [8]:
# 2) MEDIAN
# Here also by default axis = 0 means Column Wise Computation
# axis = 1 mean Row Wise Computation
iris_pd.median()

sepal length (cm)    5.80
sepal width (cm)     3.00
petal length (cm)    4.35
petal width (cm)     1.30
Class                1.00
dtype: float64

In [9]:
# If we want to observe both mean and median at a same time
pd.DataFrame([iris_pd.mean(),iris_pd.median()],index= ["MEAN","MEDIAN"])

        sepal length (cm)  sepal width (cm)  ...  petal width (cm)  Class
MEAN             5.843333          3.057333  ...          1.199333    1.0
MEDIAN           5.800000          3.000000  ...          1.300000    1.0

[2 rows x 5 columns]

In [10]:
# 3) MODE 
iris_pd.mode()
# Below Output is not interpreatble because all are in Numeric Value
# 0 rank means most frequent, i.e, in column Class "0" is most frequent
# 1 rank means second most frequent, i.e, in column Class "1" is second most frequent and so on

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  Class
0                5.0               3.0  ...               0.2      0
1                NaN               NaN  ...               NaN      1
2                NaN               NaN  ...               NaN      2

[3 rows x 5 columns]

In [11]:
# First Convert Numerical Column to Categorical Column
print("Previous Data Type")
print(iris_pd.dtypes)
# Conveting only one column i.e, "Class" Column
iris_pd['Class'] = iris_pd['Class'].astype('category')
print("\nConverted Data Type")
print(iris_pd.dtypes)

Previous Data Type
sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)    float64
petal width (cm)     float64
Class                  int64
dtype: object

Converted Data Type
sepal length (cm)     float64
sepal width (cm)      float64
petal length (cm)     float64
petal width (cm)      float64
Class                category
dtype: object

In [12]:
# To check the count also for each category i.e, Frequency Count
iris_pd.Class.value_counts()

2    50
1    50
0    50
Name: Class, dtype: int64