<a href="https://colab.research.google.com/github/sandipanpaul21/ML-Code-in-Python/blob/master/08_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# Libraries
from sklearn import datasets
import pandas as pd
import statsmodels.api as sm

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
# IRIS Dataset
iriss = datasets.load_iris()
iris = pd.DataFrame(iriss.data)
iris.columns = iriss.feature_names
iris['species'] = iriss.target

# Logistic only applies to 2 Classes but IRIS have 3 classes
# So filtering out 2 classes (0 & 1)
iris = iris[iris['species'] <= 1]
iris.columns = iris.columns.str.replace(" ","")
iris.columns = iris.columns.str.replace("(","")
iris.columns = iris.columns.str.replace(")","")
iris.head()

   sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm  species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [4]:
# Target Column Distribution
iris['species'].value_counts()

1    50
0    50
Name: species, dtype: int64

In [5]:
# Distribution (mean) of Independent Columns respect to Dependent Column
iris.groupby('species').mean().round(2)

         sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm
species
0                 5.01          3.43           1.46          0.25
1                 5.94          2.77           4.26          1.33

In [6]:
# Independent Variables
Independent_Variable_Base_Set = iris[iris.columns[0:4]]
Independent_Variable_Base_Set.head()

   sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [9]:
# Dependent Variable
Dependent_Variable = iris[iris.columns[-1:iris.columns.size]]
Dependent_Variable.head()

   species
0        0
1        0
2        0
3        0
4        0

In [12]:
# Fitting Logistic Model 

# Base Model
logit_model = sm.Logit(Dependent_Variable,Independent_Variable_Base_Set)
result = logit_model.fit(method = 'bfgs')
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.000001
         Iterations: 22
         Function evaluations: 24
         Gradient evaluations: 24
                          Results: Logit
===================================================================
Model:               Logit            Pseudo R-squared: 1.000
Dependent Variable:  species          AIC:              8.0002
Date:                2020-09-03 11:50 BIC:              18.4209
No. Observations:    100              Log-Likelihood:   -0.00011118
Df Model:            3                LL-Null:          -69.315
Df Residuals:        96               LLR p-value:      7.4648e-30
Converged:           1.0000           Scale:            1.0000
-------------------------------------------------------------------
               Coef.   Std.Err.    z    P>|z|    [0.025     0.975]
-------------------------------------------------------------------
sepallengthcm -2.5944 1094.5370 -0.0024 0.9981 -2147.8474 2142.6587
sepalwidthcm  -8.5218 1836.4958 -0.0046 0.9963 -3607.9874 3590.9439
petallengthcm 12.5739  936.1902  0.0134 0.9893 -1822.3252 1847.4731
petalwidthcm   5.4597 1647.2513  0.0033 0.9974 -3223.0935 3234.0129
===================================================================

In [22]:
# Model Summary

print("Base Model Summary")
print("Iteration suggests how many loop model did to perform the fit")
print("Iterations : 22")
r_square = result.prsquared.round(2)
print("Pseudo R Square suggests overall effect size (ideal value is close to 1)")
print("Base Model, MacFadden Pseudo R Square : ",r_square)
base_model_aic = result.aic.round(2)
print("AIC compares Goodness of Fit, Lower AIC better is the Model")
print("Base Model, AIC  :",base_model_aic)
base_model_bic = result.bic.round(2)
print("BIC also work same as AIC, Lower BIC better is the Model")
print("Base Model, BIC :",base_model_bic)

Base Model Summary
Iteration suggests how many loop model did to perform the fit
Iterations : 22
Pseudo R Square suggests overall effect size (ideal value is close to 1)
Base Model, MacFadden Pseudo R Square :  1.0
AIC compares Goodness of Fit, Lower AIC better is the Model
Base Model, AIC  : 8.0
BIC also work same as AIC, Lower BIC better is the Model
Base Model, BIC : 18.42